    
  <!-- في المكان ده هحط الناف بار -->

  <!-- Navbar -->

  <nav  class="main-header navbar navbar-expand navbar-white navbar-light ">
    <!-- Left navbar links -->
    <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-items-center">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="{% url 'index' %}" class="nav-link active" aria-current="page">Home</a>
      </li>
      

      {% if request.user.is_authenticated %}

        <li class="nav-item d-none d-sm-inline-block">
          <a href="{% url 'logout' %}" class="btn btn-outline-secondary me-2">Logout</a>
        </li>
      {% else %}
        <li class="nav-item d-none d-sm-inline-flex ">
          <p>{{ request.user.username }}</p>
          <a href="{% url 'login' %}" class=" btn nav-link btn-outline-success  d-sm-inline-block " >Login</a>
          <a href="{% url 'signup' %}" class="btn btn-outline-secondary  me-2 d-sm-inline-block " >Signup</a>
        </li>
    {% endif %}
    </ul>

    <!-- SEARCH FORM -->
    <form method="GET" action="{% url 'books' %}" class="form-inline ml-3">
      {% csrf_token %}
      <div class="input-group input-group-sm">
        <input class="form-control form-control-navbar" name="search_name" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-navbar" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </form>
  </nav>
  <!-- /.navbar -->