  <!-- في المكان ده هحط سلايد بار -->

  <!-- Main Sidebar Container -->
  <aside style="position: absolute;" class="main-sidebar sidebar-dark-primary pl-4 elevation-4">

    <!-- Brand Logo -->
    <a href="{% url 'index' %}" class="brand-link">
      <span class="brand-text font-weight-light">كتب اليمن </span>
    </a>

    <!-- Sidebar -->
    
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="flex-column mb-3 mt-3 pb-3 user-panel">
        <div class="meda  ">
          <img
            class="account-img medaphoto rounded rounded-pill w-75"
            src="{{ request.user.profile.image.url }}"
          />
        </div>
        <div class="contacts-list-info flex-sm-column info pt-3 text-capitalize w-50">
          <a href="{% url 'profile' %}" class="d-block">
            <i class="medaicon nav-icon fas fa-user "> </i>
            
            {{ request.user.username }}
          </a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          {% if request.user.is_authenticated %}
            {% if request.user.is_superuser%}
              <li class="nav-item">
                <a href="{% url 'myindex' %}" class="nav-link">
                  <i class="nav-icon fas fa-book  "></i>
                  <p>
                    admin home
                  </p>
                </a>
              </li>

              <li class="nav-item">
                <a href="{% url 'admin:index' %}" class="nav-link">
                  <i class="fas fa-tachometer-alt"> </i>
                  <p> Dashbord</p>
                </a>
              </li>


              <li class="nav-item">
                <a href="{% url 'add_road' %}" class="nav-link">
                  <i class="nav-icon fas fa-road"></i>
                  <p>
                    add Road
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'books' %}" class="nav-link">
                  <i class="nav-icon fas fa-th"></i>
                  <p>
                    New Books
                  </p>
                </a>
              </li>
              
              {% endif %}
              
          
          
          <li class="nav-item">
            <a href="{% url 'graph_view' %}" class="nav-link">
              <i class="fa-map-marked fas nav-icon"></i>
              <p>
                Graph
              </p>
            </a>
          </li>
          <li class="nav-item has-treeview">

            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-copy"></i>
              <p>
                Category
                <i class="fas fa-angle-left right"></i>
                
              </p>
            </a>
            <ul  class="nav nav-treeview">
              {% if request.user.is_superuser%}
                  <li class="nav-item">
                    <a id="addcat" href="#" class="nav-link">
                        <i class="fa fa-plus "></i>
                        <p  class="text-light"> Add New </p>
                    </a>
                  </li> 
              <form id="cat" method="POST">
                {% csrf_token %}
                <div id="catinput" class="text-white">
                  {{ categoryform }}
                </div>

                <button type="submit" class="btn btn-success">save</button>
                <button id="backcat" class="btn btn-primary ">back</button>
              </form> 
              {% endif %} 
              {% for cat in category %}
              <li style="cursor: pointer;" class="nav-item has-treeview cat{{cat.id}}">
                <a id="{{cat.id}}" class="nav-link ">
                  <i class="far fa-circle nav-icon "></i>
                  <p>{{cat.name}}
                    <i class="fas fa-angle-left right"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item"> 
                    {% if request.user.is_superuser %}
                      <a href="{% url 'deletecat' cat.id %}" class=" nav-link btn btn-info invalid-feedback badge-danger    ">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"></path>
                          <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"></path>
                        </svg>
                      </a>
                    {% endif %}
                  </li>
                </ul>
              </li>
                
              {% endfor %}

        

            </ul>
          </li>
          {% if request.user.is_superuser%}
          <li class="nav-header">حالة الكتب </li>

            <li style="cursor: pointer;" class="nav-item statussold">
              <a id="statusSold" class="nav-link">
                <i class="nav-icon far fa-circle text-danger"></i>
                <p class="text">تم بيعه</p>
              </a>
            </li>
            <li style="cursor: pointer;" class="nav-item statusrental">
              <a id="" class="nav-link">
                <i class="nav-icon far fa-circle text-warning"></i>
                <p>تم استعارته</p>
              </a>
            </li>
            <li style="cursor: pointer;" class="nav-item statusavailble">
              <a id="" class="nav-link">
                <i class="nav-icon far fa-circle text-info"></i>
                <p>متاح</p>
              </a>
            </li>
          {% endif %}
        {% endif %}
        <li class="nav-header"> الكتب </li>

        <li style="cursor: pointer;" class="nav-item statusavailble">
          <a id="" class="nav-link">
            <i class="nav-icon far fa-circle text-danger"></i>
            <p class="text">كل الكتب  </p>
          </a>
        </li>
        <li style="cursor: pointer;" class="nav-item mybooks ">
          <a id="" class="nav-link">
            <i class="nav-icon far fa-circle text-warning"></i>
            <p> كتبي </p>
          </a>
        </li>
        
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>